{% extends "index_base_generic.html" %}
{% load static %}

{% block pagecontent %}

<style>

.navigation {
  width: 200px;
}

.option, .subchoice {
  list-style: none;
  padding: 0;
  margin: 0;
}

.option a {
  display: block;
  background-color: #bab6d8;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.option a:hover {
    background-color: #bab6d8;
}

.option li:hover .subchoice {
  display: block;
  max-height: 300px;
}

.subchoice a {
  background-color: #bce0c3;
}

.subchoice a:hover {
  background-color: lightpink;
}

.subchoice {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
table{
  margin-top:10px //moves your table 10pixels down
    margin-left:20000px 
}
    </style>
    <!-- Bootstrap core JavaScript -->
    <script src="https://use.fontawesome.com/e9acab6f74.js"></script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/ajax.js' %}"></script>


<form action="" method="get">  
  <nav class="navigation">
      <ul class="option">
        <li><a href="">All Songs</a>
            <ul class="subchoice">
              <li><a href="{% url 'index' %}">Back To Homepage</a></li>
            </ul>
        </li>
      </ul>
  </nav>
  <table>
      <colgroup>
        <col width="300" style="background-color:lightblue">
      <col width="300" style="background-color:lightblue">
      <col width="300" style="background-color:lightblue">
      <col width="300" style="background-color:lightblue">
      <col width="300" style="background-color:lightblue">
      </colgroup>
      <tr>
        <th style="background-color:lightblue">Choice</th>
        <th>Title</th>
        <th>Artist</th>
      <th>Genre</th>
      <th>Album</th>
      </tr>

        {% if songs %}
          {% for song in songs %}
                  <tr><td style="background-color:lightblue"><input type="checkbox" name="song" ><br></td>
                  <td>{{song.title}}</td>
                  <td>{{song.artist}}</td>
                  <td>{{song.genre}}</td>
                  <td>{{song.album}}</td>
                  </tr>
          {% endfor %}
        {% else %}
        {% endif %}

    </table>
 </form>
{% endblock %}

