{% extends "index_base_generic.html" %}

{% load static %}
<!---Sidebar------------>
{% block pagecontent %}
<div id="right-panel">
    <div class="inner-addon right-addon">
      {% csrf_token %}
      <input class="form-control" id='search' name="search" type="text" placeholder="Filter">
      <button type="submit">
        <span class="fa fa-search"></span>
      </button>
    </div>
    <div id='playlist-title'>Spotify Playlists
    </div>
    <div class='playlist-holder'>
      <ul class='playlists' id ='search-results'>
        {% if playlists %}
            {% for playlist in playlists %}
              <a id='selected_playlist' href="{% url 'index' %}?playlist-id={{ playlist.id }}" value='{{ playlist.id }}'><li>{{ playlist }}</li></a>
            {% endfor %}
        {% else %}
          <li>No matches found.</li>
        {% endif %}
      </ul>
    </div>
    <form method='GET'>
      <div class=loginbtn>
        <input type='submit' name='import' class="btn btn-primary" id='spotlogin' value="Import Spotify Playlists"></input>
      </div>
    </form>
    <form method='GET'>
      <div class=loginbtn>
        <input type="submit" name='create_video' class="btn btn-primary" id='ytlogin' value='Create Selected Playlist'></input>
        <input type="hidden" name="create" value="{{ pid }}"</input>
      </div>
    </form>
    <div class=loginbtn>
      <input type="submit" name='' class="btn btn-primary" value='Save Video Playlist'></input>
    </div>
</div>

<!-- Page Content -->
<!-- Bootstrap core JavaScript -->

<script src="https://use.fontawesome.com/e9acab6f74.js"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/ajax.js' %}"></script>

<!-- VIDEO PLAYER -->
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
{% if playlistID == "noplaylistselected" %}
  <div id='noPL'>Please select a playlist.</div>
{% else %}
  <div id='noPL'>No video playlist for selected playlist.</div>
{% endif %}

{% if playlistID != "noplaylistselected" and playlistID != NULL %}
  <div id='playerwrapper'><div id="player"></div></div>
  <input type="hidden" id="myVar" name="variable" value="{{ playlistID }}">
{% endif %}
<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLM5k2ytzwH7CRhzc4qGiBXn2P53UXpVEk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>-->
<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.

  var playlistID = document.getElementById('myVar').value;
  //var jsonObj = jQuery.parseJSON(myVar);
  //var id = items[1].id;
  //var jsonObj = JSON.parse(myVar);
  //console.log(myVar);
  //console.log(items[1].id);
  var player;
  console.log(playlistID);
  function onYouTubeIframeAPIReady(){
    player = new YT.Player('player', {
      height: '567',
      width: '1008',
      autoplay: 1,
      playerVars: {
        listType:'playlist',
        list: playlistID,
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.playVideo();
  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      setTimeout(stopVideo, 6000);
      done = true;
    }
  }
  function stopVideo() {
    player.stopVideo();
  }
</script>

{% endblock %}
