{% extends "index_base_generic.html" %}


{% block pagecontent %}
    <style>
    p{
        color: white;
    }
    </style>
    <!-- Bootstrap core JavaScript -->
    <script src="https://use.fontawesome.com/e9acab6f74.js"></script>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    
    <div id="left-panel">
    {% block genrelist %}
    <div id='playlist-title'>All Songs
    </div>
    <div class='playlist-holder'>
        {% if songs %}
          {% for song in songs %}
            <div class="col">
              <div class="thumbnail custom">

                <div class="caption">
                  <p font-color="white"><a style="margin-left: 10px">Title: <a>{{song.title}}</a></a>
                  <a style="margin-left: 200px">Artist: <a>{{song.artist}}</a></a></a>        
                  <a style="margin-left: 200px">Genre:  <a>{{ song.genre}}</a></a>    
                   <a style="margin-left: 200px">Album:  <a>{{song.album}}</a></a></p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
        {% endif %}
    </div>
    {% endblock %}
    <button type="button" style="width: 200px">Classic Music</button>
    <button type="button" style="width: 200px">Rock Music</button>
    <button type="button" style="width: 200px">other Music</button>
    <p><button type="button" class="btn btn-primary"><a href="{% url 'index' %}">Done</a></button></p>
</div>
{% endblock %}
