<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SpoTV-Login</title>
    <link rel="icon"
      type="image/png"
          href="tv.png">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>
    <!---Middle Pane------------>
    <div id='login-header'>Welcome to SpoTV!
        <div id='logo1'>
        </div>
        <div id='logo2'>
        </div>
    </div>
    <div id='content-wrapper'>Please Login
        <div id='login-box'>
            <div class='login-field' align='center'>
                <input type="text" class="form-control" placeholder="Username" />
                <a href='#' class='login-forgot'> Forgot Username</a>
            </div>
            <div class='login-field' align='center'>
                <input type="text" class="form-control" placeholder="Password" />
                <a href='#' class='login-forgot'> Forgot Password</a>
            </div>
            <div class=loginbtn>
                <button type="button" class="btn btn-primary" onclick="location.href ='index.html';">Login</button>
            </div>
            
        </div>
    </div>
      
      
    <div class="footer fixed-bottom">Copyright SQL-Injection 2017
    </div>

  </body>

</html>
