{% extends "login_base_generic.html" %}

{% block content %}
  <div id='info_box'>
    <p style="color:white;">Please enter your email so we can send you a reset link.</p>
    <form action="" method="post">{% csrf_token %}
      {% if form.email.errors %} {{ form.email.errors }} {% endif %}
      <p>{{ form.email }}</p>
      <div class=loginbtn>
        <input type="submit" class="btn btn-primary" value="Reset password" />
      </div>
    </form>
  </div>
  <script>
    window.onload = function() {
      var input = document.getElementById("id_email").focus();
    }
  </script>  
{% endblock %}
