{% extends 'login_base_generic.html' %}

{% block content %}
{% if user.is_authenticated %}
  <p style="color:white;" id=welcome>Welcome, {{ user.username }}</p>
{% else %}
{% endif %}
<div id=spotify_verify>
  <div id="login">
    <h2 style="color: white;">Please Authorize your Google Account</h2>
    <form action="{% url 'social:begin' 'google-oauth2' %}">
      <div class=loginbtn>
        <input type='submit' class="btn btn-primary" id=ytlogin value="Login with Google"></input>
      </div>
    </form>
  </div>
</div>

{% endblock %}
