{% extends "login_base_generic.html" %}
{% block content %}
  {% if validlink %}
    <div id="info_box1">
        <p style="color:white;">Please enter (and confirm) your new password.</p>
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>
                        <label for="id_new_password1" style="color:white;">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>
                        <label for="id_new_password2" style="color:white;">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><div class=loginbtn><input type="submit" id="passchange" class="btn btn-primary" value="Change my password" /></div></td>
                </tr>
            </table>
        </form>
      </div>
    {% else %}
      <div id="info_box1">
        <h1 style="color: white;">Password reset failed</h1>
        <p style="color:white;">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
      </div>
    {% endif %}
{% endblock %}
