{% extends 'login_base_generic.html' %}

{% block content %}
{% if user.is_authenticated %}
  <p style="color:white;" id=welcome>Welcome, {{ user.username }}</p>
{% else %}
{% endif %}
<div id=spotify_verify>
  <div id="login">
    <h2 style="color: white;">Please Authorize your Spotify Account</h2>
    <form action="{% url 'social:begin' 'spotify' %}">
      <div class=loginbtn>
        <input type='submit' class="btn btn-primary" id=spotlogin value="Login with Spotify"></input>
      </div>
    </form>
  </div>
</div>

{% endblock %}
